@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    background-color: #F8FAFB
;
}
*{
    margin :0;
    padding :0;
    box-sizing: border-box;

}
.HeaderMainContainer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 200px;
width: 90%;
margin : auto;
margin-top : 20px;
}
.div1Header  {
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 60px;
width: 646px;
height: 30px;
flex: none;
order: 0;
flex-grow: 0;
}
.logoHeader {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 24.8px;
line-height: 30px;

color: #000000;
}
.div2Header {
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 40px;
flex: none;
order: 1;
flex-grow: 0;
}
.div2Header p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #434343;
}
.div3Header {
    display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;
flex: none;
order: 1;
flex-grow: 0;
}
.div3Header p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #000000;
}
.mainContainerBanner {
     width: 90%;
    margin :auto;
  margin-top: 100px;
  }
 
 @media only screen and (max-width: 400px) {
  .text1banner  {
    font-size: 30px;
  }
  .mainContainerBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .bannerdiv2 {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .text1banner {
   font-size: 55px;

  }
  .bannerdiv2 {
    display: flex;
flex-direction: row;
  }
}

.bannerdiv1 {
    width : 55%;
  display: flex;
  flex-direction: column;
}
.text1banner { 
 margin-top : 500;
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
color: #141A31;
}
.text2banner  {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
color: #404040;
}
.bannerdiv2 {

align-items: center;
padding: 0px;
gap: 24px;
width: 412px;
height: 42px;
margin-top: 40px;
}   
.contactus {
box-sizing: border-box;

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 193px;
height: 42px;
background: #0038FF;
border-radius: 33px;
}
.contactus p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.exploreblogs {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
width: 195px;
height: 42px;
border: 1.5px solid #000000;
border-radius: 33px;

}
.exploreblogs p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #000000;
}
.categoriesmaindiv {
   width: 90%;
   margin: auto;
   font-family : 'Montserrat';
   font-size: small;
}
.div1categories  {
   margin-top: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.All {
display: flex;
box-sizing: border-box  ;
 cursor: pointer;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
gap: 10px;

width: 84px;
height: 42px;
border: 1px solid #141A31;


border-radius: 34px;    

}
.AllActive {
display: flex;
box-sizing: border-box  ;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
gap: 10px;

width: 84px;
height: 42px;

background: rgba(0, 56, 255, 0.1);
border-radius: 34px;    

}
.All :hover {
display: flex;
box-sizing: border-box  ;

flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
gap: 10px;

width: 84px;
height: 42px;

background: rgba(0, 56, 255, 0.1);
border-radius: 34px;   
}
.Tech {

display: flex;
box-sizing: border-box  ;
 cursor: pointer;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 84px;
height: 42px;
border: 1px solid #141A31;
border-radius: 34px;    
width: 170px;
height: 47px;



}
.Tech:hover {
    box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;

width: 170px;
height: 47px;

border-radius: 34px;
background: rgba(0, 56, 255, 0.1);
}
.TechActive  {
box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 20px;

width: 170px;
height: 47px;

border-radius: 34px;
background: rgba(0, 56, 255, 0.1);

}

.div2categories {

  display: flex;
    flex-direction: row;
    justify-content: space-between;
  margin-top: 10px;

/* Inside auto layout */




/* Inside auto layout */

}
.politics {
   box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 30px;
gap: 10px;
width: 128px;
height: 42px;
border: 1px solid #141A31;
border-radius: 34px;
}
.mainPopularContainer {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    font-family: 'Montserrat';
}

.titleCategory {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 46px;

color: #141A31;
}
.PopularCard {
display: flex !important    ; 
flex-direction: column;
align-items: flex-start;
gap: 12px;
isolation: isolate;
margin-top: 40px;
width: 361px !important;
height: 368px;
background: #FFFFFF;
box-shadow: 0px 20px 50px rgba(168, 168, 168, 0.1);
border-radius: 12px;
}
.image {
width: 361px;
height: 176px;
background-size: cover;
border-radius: 12px 12px 0px 0px;
}
.title {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 15px;

width: 325px;
height: 37px;
}
.posttitle {
   font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #000000;
}
.info {
 display: flex;
flex-direction: row;

width: 158px;
height: 15px;
}
.info p {


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: #848484;
}
.description {
    width: 325px;
height: 107px;
padding: 15px;
}
.blogtitle  {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.data {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* or 136% */


color: #7D7D7D;
}
.informationmaincontainer {
    width: 90%;
    margin: auto;
}
.infoMainText {
    font-family: 'Montserrat';
font-style :normal;
font-weight : 800;

font-size: 48px;
line-height: 59px;
 text-align: center;
 margin-top: 100px;
color: #141A31;
}
.div1Info {
    display: flex;
flex-direction: column;
width: 668px;
height: 247.98px;
margin-top: 40px;
} 
.vector1 {
    
width: 100px;
height: 89.98px;

}
.text1 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 30px;
/* identical to box height */


color: #000000;
}
.text2 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
/* or 133% */


color: #5F5F5F;
}
.vectorContainer1 {
width: 307.49px;
height: 268.87px;

margin-left: 200px;
margin-top: 30px;
}
.div2Info {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
margin-left: 700px;
}
.vectorContainer2 {
   width: 307.49px;
height: 268.87px;
margin-top: 30px;
}
.div3Info {
       display: flex;
flex-direction: column;
width: 668px;
height: 250px;
margin-right: 400px;
}
.contacthome {
    width: 90%;
    margin: auto;

padding: 0px;
gap: 200px;
}
.picturecontactus {
 
width: 387.44px;
height: 380.1px;
margin-left: 100px;
margin-top: 80px;

}
.rectangle  {
width: 1240px;
height: 490px;

background: #141A31;
border-radius: 0px 0px 50px 50px;
}
.div1 {
    display: flex;
    flex-direction: row;
}
.div2 {
    display: flex;
    flex-direction: column;
}
.textcontactus {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 11px;
width: 50%;
margin-top: 60px;
margin: 40px;
}
.text1contactus {
width: 569px;
height: 118px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 59px;

color: #FFFFFF;
}
.text2contactus {
    width: 549px;
height: 96px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
/* or 133% */


color: #C8C8C8;
}
.inputcontactus {
    box-sizing: border-box;
 color: #F8FAFB;
width: 400px;
height: 48px;
left: 0px;
padding: 10px;
  background: transparent;
    border: none;
border: 1px solid #D7D7D7;
border-radius: 36px 0px 0px 36px;
}
.inputcontainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.footer {
    background: #FFFAF5;
font-family: 'Montserrat';

}
.div1footer {
    display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 40px;

width: 583px;
height: 24px;
}
.div2footer {
    margin: 20px;
}
.footercontent {
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 469px;
font-family: 'Montserrat';
}
.footercontent h1 {
    padding: 60px;
}
.div3footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
.infofooter {
    display: flex;
    flex-direction: row;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16.2px;
text-align: right;

color: #303030;
}
.companyname {
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16.2px;
line-height: 27px;
color: #303030;
}
.loginText {
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat';
}
.accountLogo {
    margin: 15px;
    font-family: 'Montserrat';
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    box-sizing: border-box;
width: 544px;
height: 42px;
padding: 10px;
border: 1px solid #575757;
border-radius: 36px;
}
.inputContainer {
       display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email {
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-align: left;
float: left;
display: flex;
flex-direction: column;
color: #263238;
margin : 15px

}
.forgetPassword{
  text-align: left;
float: right;
display: flex;
flex-direction: column;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #0038FF;
}
.loginButton {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
cursor: pointer;
width: 544px;
height: 52px;


background: #0038FF;
border-radius: 33px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 24px;

color: #FFFFFF;
}
.or {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #263238;
}
.facebookButton {
    box-sizing: border-box;
 cursor: pointer;
/* Auto layout */
margin: 10px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 37px;
gap: 14px;


border: 1px solid #000000;
border-radius: 35px;
width: 544px;
height: 38px;



font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 22px;
/* identical to box height */


color: #000000;
}
.signupaccount {
 

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #263238;
}
.loginsignuptoggle  {
     display: flex;
     flex-direction: row;
}
.signuptext {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #0038FF;
cursor: pointer;
}